@font-face {
  font-family: "potta";
  src: url("../assets/fonts/Potta_One/PottaOne-Regular.ttf");
}
@font-face {
  font-family: "kotta";
  src: url("../assets/fonts/Potta_One/KottaOne-Regular.ttf");
}
@font-face {
  font-family: "canada";
  src: url("../assets/fonts/Radio_Canada/static/RadioCanada-Regular.ttf");
}
.failed {
  color: red;
  animation: dpop 7s;
  opacity: 0;
}

.success {
  color: green;
  animation: dpop 7s;
  opacity: 0;
}

@keyframes dpop {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
body {
  max-width: 992px;
  max-height: 100vh;
  overflow-y: hidden;
}
body nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  overflow-y: auto;
  max-height: 100vh;
}
body nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: black;
}
body nav div a {
  width: 20%;
}
body nav div a img {
  width: 100%;
}
body nav div .welcome {
  width: auto;
}
body nav div .welcome h4 {
  font-family: "potta";
  color: white;
}
body nav div button {
  margin-right: 2vw;
}
body nav div #navbarNav {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/img/static/Vega_VV23_liftoff.jpg");
  min-height: 100vh;
}
body nav div #navbarNav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body nav div #navbarNav ul li {
  list-style: none;
  padding-bottom: 2.5%;
  width: 100%;
  text-align: center;
}
body nav div #navbarNav ul li a {
  width: 100%;
  color: white !important;
  font-family: "potta";
  font-size: 2em;
}
body nav div #navbarNav ul li a img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
body .homepage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/img/static/Soyouz-liftoff.jpg");
  width: 100vw;
  height: 100vh;
}
body .loginPage {
  overflow-y: hidden;
}
body .loginPage .createAccount {
  display: flex;
  justify-content: center;
  width: 100%;
}
body .createUserPage {
  width: 100%;
}
body .createUserPage h1 {
  font-family: "canada";
}
body .createUserPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body .createUserPage form label {
  font-family: "canada";
}
body .createUserPage form input {
  width: 50%;
}
body .readUserPage {
  height: 85vh;
}
body .readUserPage ul li {
  list-style: none;
}
body .readUserPage .userBtnActions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .readUserPage .userBtnActions .btnDelete {
  width: 100%;
  text-align: center;
  margin-top: 15%;
}
body .quizGame {
  width: 100vw;
  height: 100vh;
}
body .quizGame .quizQuestion {
  height: auto;
}
body .quizGame .quizQuestion .questionContent {
  font-family: "canada";
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
body .quizGame .quizResponse {
  height: auto;
}

@media screen and (min-width: 992px) {
  body {
    max-width: 1400px;
    max-height: 100vh;
  }
  body nav div {
    background-color: black;
  }
  body nav div a {
    width: 20%;
  }
  body nav div a img {
    width: 100%;
  }
  body nav div .welcome {
    width: auto;
  }
  body nav div .welcome h3 {
    font-family: "potta";
    color: white;
  }
  body nav div button {
    margin-right: 2vw;
    color: white;
  }
  body nav div #navbarNav {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/img/static/Euclid_lift-off2.jpg");
  }
  body nav div #navbarNav ul {
    width: 100%;
    list-style: none;
  }
  body nav div #navbarNav ul li {
    width: auto;
    margin-left: 2.5%;
    text-align: center;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }
  body nav div #navbarNav ul li a {
    width: 100%;
    color: black !important;
    font-family: "potta";
    font-size: 2em;
  }
  body nav div #navbarNav ul li a img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
  }
  body .homepage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/img/static/spaceX-falcon-heavy.jpg");
    width: 100vw;
    height: 100vh;
  }
  body .createAccount {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  body .createUser {
    width: 100%;
  }
  body .createUser h1 {
    font-family: "canada";
  }
  body .createUser form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  body .createUser form label {
    font-family: "canada";
  }
  body .createUser form input {
    width: 50%;
  }
  body .admin {
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  body {
    max-width: none;
    max-height: none;
  }
  body nav {
    position: fixed;
    height: 20vh !important;
    overflow-y: hidden;
  }
  body nav div {
    height: 100% !important;
  }
  body nav div a {
    width: 10%;
  }
  body nav div a img {
    width: 80%;
  }
  body nav div .welcome {
    width: 5vw;
  }
  body nav div .welcome h3 {
    font-family: "potta";
    color: white;
    font-size: 1.5em;
  }
  body nav div button {
    margin-right: 2vw;
    color: white;
  }
  body nav div #navbarNav {
    visibility: hidden;
    background-image: none;
  }
  body nav div #navbarNav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  body nav div #navbarNav ul li {
    display: flex;
    visibility: visible;
    width: auto;
    align-items: center;
    text-align: center;
  }
  body nav div #navbarNav ul li a {
    width: 100%;
    color: white !important;
    font-family: "potta";
    font-size: 1.5em;
  }
  body nav div #navbarNav ul li a img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
  }
  body .homepage {
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/img/static/Ariane_5_VA261_liftoff.jpg");
    width: 100vw;
    height: 100vh;
  }
  body .createAccount {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  body .createUser {
    width: 100%;
  }
  body .createUser h1 {
    font-family: "canada";
  }
  body .createUser form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  body .createUser form label {
    font-family: "canada";
  }
  body .createUser form input {
    width: 50%;
  }
  body .admin {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
