// sass -w assets/scss/style.scss css/style.css

// $grid-breakpoints: (
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

// Small devices (Phone, 576px and up)
@mixin dpop{
    animation: dpop 10s;
    opacity: 0;
}
@mixin pm0{
    padding: 0 !important;
    margin: 0 !important;
}
@mixin imgBg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexColumn{
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: 'potta';
    src: url("../assets/fonts/Potta_One/PottaOne-Regular.ttf");
}
@font-face {
    font-family: 'kotta';
    src: url("../assets/fonts/Potta_One/KottaOne-Regular.ttf");
}
@font-face {
    font-family: 'canada';
    src: url("../assets/fonts/Radio_Canada/static/RadioCanada-Regular.ttf");
}

.failed{
    color: red;
    @include dpop;
}
.success{
    color: green;
    @include dpop;
}
@keyframes dpop {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

// *****   **    **                *                ***              
// ******  ***** *****              **           *      ***             
// **   *  *  ***** *****            **          ***      **             
// *    *  *   * **  * **             **           *       **             
//   *  *    *     *        ****    **                   **             
//  ** **    *     *       * ***  * ** ****    ***       **       ***   
//  ** **    *     *      *   ****  *** ***  *  ***      **      * ***  
//  ** **    *     *     **    **   **   ****    **      **     *   *** 
//  ** **    *     *     **    **   **    **     **      **    **    ***
//  ** **    *     **    **    **   **    **     **      **    ******** 
//  *  **    *     **    **    **   **    **     **      **    *******  
//     *     *      **   **    **   **    **     **      **    **       
// ****      *      **    ******    **    **     **      **    ****    *
// *  *****           **    ****      *****       *** *   *** *  ******* 
// *     **                             ***         ***     ***    *****  
// *                                                                      
// **                                                                    

body{
    max-width: 992px;
    max-height: 100vh;
    overflow-y: hidden;
    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        overflow-y: auto;
        max-height: 100vh;
        div{
            @include flexCenter;
            text-align: center;
            height: auto;
            background-color: black;
            a{
                width: 20%;
                img{
                    width: 100%;
                }
            }
            .welcome{
                width: auto;
                h4{
                    font-family: "potta";
                    color: white;
                }
            }
            button{
                margin-right: 2vw;
            }
            #navbarNav{
                @include imgBg;
                background-image: url('../assets/img/static/Vega_VV23_liftoff.jpg');
                min-height: 100vh;
                ul{
                    @include flexColumn;
                    width: 100%;
                    li{
                        list-style: none;
                        padding-bottom: 2.5%;
                        width: 100%;
                        text-align: center;
                        a{
                            width: 100%;
                            color: white !important;
                            font-family: "potta";
                            font-size: 2em;
                            img{
                                width: 15vh;
                                height: 15vh;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    .homepage{
        @include imgBg;
        background-image: url("../assets/img/static/Soyouz-liftoff.jpg");
        width: 100vw;
        height: 100vh;
    }
    .loginPage{
        overflow-y: hidden;
        .createAccount{
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
    .createUserPage{
        width: 100%;
        h1{
            font-family: "canada";
        }
        form{
            @include flexColumn;
            align-items: center;
            width: 100%;
            label{
                font-family: "canada";
            }
            input{
                width: 50%;
            }
        }
    }
    .readUserPage{
        height: 100vh;
        @include imgBg;
        background-image: url("../assets/img/static/earth.jpg");
        .userInfoActions{
            ul{
                li{
                    list-style: none;
                    font-size: 1.2em;
                    text-align: center;
                    .imgAvatar{
                        width: 25vh;
                        height: 25vh;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .userInfos{
                        background-color: white;
                        opacity: 70%;
                        border-top-left-radius: 5vh;
                        border-top-right-radius: 5vh;
                        border-bottom-left-radius: 5vh;
                        border-bottom-right-radius: 5vh;
                        width: 70vw;
                        height: auto;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
    .quizGame{
        width: 100vw;
        height: 100vh;
        .quizQuestion{
            height: auto;
            .questionContent{
                font-family: "canada";
                text-align: center;
                margin-top: 3vh;
                margin-bottom: 3vh;
            }
        }
        .quizResponse{
            height: auto;
        }
    }
}

// ****           *              *        ***                        
// *  *************             **          ***                  *    
// *     *********               **           **                 **    
// *     *  *                    **           **                 **    
// **  *  **                    **           **               ********
//    *  ***            ****    ** ****      **       ***    ******** 
//   **   **           * ***  * *** ***  *   **      * ***      **    
//   **   **          *   ****  **   ****    **     *   ***     **    
//   **   **         **    **   **    **     **    **    ***    **    
//   **   **         **    **   **    **     **    ********     **    
//    **  **         **    **   **    **     **    *******      **    
//     ** *      *   **    **   **    **     **    **           **    
//      ***     *    **    **   **    **     **    ****    *    **    
//       *******      ***** **   *****       *** *  *******      **   
//         ***         ***   **   ***         ***    *****            
                                                                   
                                                                   

// Medium devices (tablets, 992px and up)
@media screen and (min-width: 992px) {
    body{
        max-width: 1400px;
        nav{
            div{
                a{
                    img{
                        width: 12vw;
                    }
                }
                #navbarNav{
                    background-image: url('../assets/img/static/Euclid_lift-off2.jpg');
                    ul{
                        li{
                            a{
                                color: black !important;
                            }
                        }
                    }
                }
            }
        }
        .homepage{
            background-image: url("../assets/img/static/spaceX-falcon-heavy.jpg");
        }
        .quizGame{
            width: 100vw;
            height: 100vh;
            .quizQuestion{
                height: auto;
                .questionContent{
                    font-family: "canada";
                    text-align: center;
                    margin-top: 3vh;
                    margin-bottom: 3vh;
                }
            }
            .quizResponse{
                height: auto;
            }
        }
        .readUserPage{
            height: 100vh;
            @include imgBg;
            background-image: url("../assets/img/static/earth.jpg");
            .userInfoActions{
                ul{
                    li{
                        
                        .imgAvatar{
                            width: 25vh;
                            height: 25vh;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

// ***** **                           *                                       
// ******  ***                         **             *                          
// **    *  * ***                        **            **                          
// *     *  *   ***                       **            **                          
//   *  *     ***              ****    **          ********    ****       ****   
//  ** **      **    ***      * **** * **  ***    ********    * ***  *   * ***  *
//  ** **      **   * ***    **  ****  ** * ***      **      *   ****   *   **** 
//  ** **      **  *   ***  ****       ***   *       **     **    **   **    **  
//  ** **      ** **    ***   ***      **   *        **     **    **   **    **  
//  ** **      ** ********      ***    **  *         **     **    **   **    **  
//  *  **      ** *******         ***  ** **         **     **    **   **    **  
//     *       *  **         ****  **  ******        **     **    **   **    **  
// *****       *   ****    * * **** *   **  ***       **      ******    *******   
// *   *********     *******     ****    **   *** *     **      ****     ******    
// *       ****        *****               **   ***                       **        
// *                                                                      **        
// **                                                                    **        
//                                                                      **       

// Large devices (desktops, 1400px and up)
@media screen and (min-width: 1400px) {
    body{
        max-width: none;
        max-height: none;
        nav{
            position: fixed;
            height: 20vh !important;
            overflow-y: hidden;
            div{
                a{
                    width: 10%;
                    img{
                        width: 10vw;
                    }
                }
                button{
                    margin-right: 2vw;
                    color: white;
                }
                #navbarNav{
                    visibility: hidden;
                    background-image: none;
                    ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;
                        li{
                            display: flex;
                            visibility: visible;
                            width: auto;
                            align-items: center;
                            text-align: center;
                            padding: 0;
                            a{
                                width: 100%;
                                color: white !important;
                                font-family: "potta";
                                font-size: 1.5em;
                                img{
                                    width: 5vw;
                                    height:5vw;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .homepage{
            background-image: url("../assets/img/static/Ariane_5_VA261_liftoff.jpg");
        }        
    }
}